################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Klondike Solitaire/.vs/Klondike Solitaire/v16/Browse.VC.opendb
